<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weather Widget</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="./index.css">
    </head>
    <body>
        <div class="weather-card"
            style="background-image: url('<%=imageURL%>');"
        >
            <div class="row-container">
                <div class="left panel">
                    <h1 class="big-heading"><%=city%></h1>
                    <h2 id="date-display" class="small-heading"><%=date%></h2>
                </div>
                <div class="right panel">
                    <div class="ilblock centered">
                        <h1 class="big-heading"><%=temperature%></h1>
                        <h2 class="small-heading"><%=weather%></h2>
                    </div>
                    <img class="weather-image" src="https://openweathermap.org/img/wn/<%=icon%>@4x.png">
                </div>
            </div>
            <div class="row-container">
                <div class="left panel">
                    <p class="detail">Humidity: <%=humidity%></p>
                    <p class="detail">Visibility: <%=visibility%></p>
                    <p class="detail">Cloudiness: <%=cloudiness%></p>

                    <p class="detail">Wind Speed: <%=windSpeed%></p>
                    <p class="detail">Wind Direction: <%=windDirection%></p>
                </div>
                <div class="right panel row-container right">
                    <h2 id="time-display" class="small-heading time-display ilblock"><%=time%></h2>
                </div>
            </div>
        </div>
    </body>
</html>